body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
}

.header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s ease;
}

button:hover {
  background: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background: #e9ecef;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 16px;
}

li button.delete {
  background: #dc3545;
  width: auto;
}

li button.delete:hover {
  background: #a71d2a;
}

li button.edit {
  background: #00D423;
  width: auto;
}

li button.edit:hover {
  background: #046E00;
}

li button.update {
  background: #007bff;
  margin-left: 10px;
  width: auto;
}

li button.update:hover {
  background: #0056b3;
}

img.responsive {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 1;
  display: block;
  margin-top: 20px;
  border-radius: 8px;
}
